<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Box Example</title>
</head>
<body>
    <h1>Amount spent on stock</h1>
    <form method="POST">
        <input type="text" name="tb_amount_spent" placeholder="110">
        <input type="submit" value="Submit">
    </form>
    <!-- <h1>Date bought</h1>
    <form method="POST">
        <input type="text" name="tb_date_bought" placeholder="19/12/07">
        <input type="submit" value="Submit">
    </form> -->
    
</body>
</html>